---
import { Picture } from 'astro:assets';
import img from '~/assets/undraw_dog_c7i6.svg';
import { SiteDescription, SiteTitle } from '~/config';
import MarkdownLayout from '~/layouts/MarkdownLayout.astro';
---

<MarkdownLayout
	title={SiteTitle}
	description={SiteDescription}
	hide={['title', 'comments']}
	currentNav="Home"
>
	<div class="flex flex-col items-center gap-4 xl:flex-row">
		<Picture class="lg:max-w-md" src={img} formats={['avif', 'webp']} alt="a dog" loading="eager" />
		<div>
			<h1>Hello there!</h1>
			<p>
				 I’m Sathya, a Front-End UI Developer passionate about creating intuitive and engaging user experiences. With 12 years of experience in designing and implementing web interfaces, I specialize in translating creative concepts into functional, visually appealing digital products.
			</p>
			<ul class="list-disc">
				<li>
					In addition to my front-end capabilities, I have substantial experience with Node.js for server-side development, MongoDB and MySQL for database management, and Prisma for seamless database integration
				</li>
				<li>					
					My proficiency extends to utilizing Tailwind and Bootstrap for efficient and modern styling, as well as jQuery for enhancing interactivity.
				</li>
				
				<li>
					I am also adept in Python and FastAPI, which enables me to contribute to backend development and API integration, ensuring a holistic approach to web application development.
				</li>				
			</ul>
		</div>
	</div>
</MarkdownLayout>
